#!/bin/bash

export PATH="{% for item in cpython_versions %}/opt/python-{{ item }}/bin/:{% endfor %}${PATH}"

export LD_LIBRARY_PATH="/opt/sqlite3/lib:${LD_LIBRARY_PATH}"


export TOX_WORKERS="-n2 --max-worker-restart=5"
