#!/bin/bash

export PATH="{% for item in cpython_short_versions %}/opt/python{{ item }}/bin/:{% endfor %}${PATH}"

export LD_LIBRARY_PATH="/opt/sqlite3/lib:${LD_LIBRARY_PATH}"

export TOX_WORKERS="-n2 --max-worker-restart=5"

if [ ! -d .venv ]; then
   /opt/python{{ cpython_run_version }}/bin/virtualenv .venv
fi

source .venv/bin/activate

if [[ $pyv == *"py2"* ]]; then
    # NOTE: 20.22 and above, tox no longer can run py27 envs:
    # https://github.com/pypa/virtualenv/commit/04af5026d8eff9ab34cd6f4a47e2f9de4f10a25c
    python -m pip install "virtualenv<20.22" pip tox --upgrade
else
    python -m pip install virtualenv pip tox --upgrade
fi

