#!/bin/bash

export PATH="{% for item in cpython_short_versions %}/opt/python{{ item }}/bin/:{% endfor %}${PATH}"

export LD_LIBRARY_PATH="/opt/sqlite3/lib:${LD_LIBRARY_PATH}"

export TOX_WORKERS="-n2 --max-worker-restart=5"

if [ ! -d .venv ]; then
   /opt/python{{ cpython_run_version }}/bin/virtualenv .venv
elif [ -d .venv ]; then
   # Check if existing venv Python version matches desired version
   CURRENT_VERSION=$(.venv/bin/python -c "import sys; print(f'{sys.version_info.major}.{sys.version_info.minor}')" 2>/dev/null || echo "")
   DESIRED_VERSION="{{ cpython_run_version }}"
   if [ "$CURRENT_VERSION" != "$DESIRED_VERSION" ]; then
      echo "Existing virtualenv Python version ($CURRENT_VERSION) doesn't match desired version ($DESIRED_VERSION). Recreating..."
      rm -rf .venv
      /opt/python{{ cpython_run_version }}/bin/virtualenv .venv
   fi
fi

source .venv/bin/activate

if [[ $pyv == *"py2"* ]]; then
    # NOTE: 20.22 and above, tox no longer can run py27 envs:
    # https://github.com/pypa/virtualenv/commit/04af5026d8eff9ab34cd6f4a47e2f9de4f10a25c
    python -m pip install "virtualenv<20.22" pip tox --upgrade
else
    python -m pip install virtualenv pip tox nox --upgrade
fi

