#!/bin/bash

set -x


source /usr/local/jenkins/scripts/python_env.sh

if [ -f /etc/profile.d/oracle_env.sh ] ; then
	source /etc/profile.d/oracle_env.sh
fi


export TOX_MYSQL=\
"--dburi mysql+mysqldb://scott:tiger@mariadb111/test?charset=utf8mb4 "\
"--dburi mysql+mysqldb://scott:tiger@mysql57/test?charset=utf8mb4 "\
"--dburi mysql+mysqldb://scott:tiger@mysql80/test?charset=utf8mb4 "

export TOX_MYSQL_PY2K=\
"--dburi mysql+mysqldb://scott:tiger@mariadb111/test?charset=utf8mb4 "\
"--dburi mysql+mysqldb://scott:tiger@mysql57/test?charset=utf8mb4 "\
"--dburi mysql+mysqldb://scott:tiger@mysql80/test?charset=utf8mb4 "


export TOX_POSTGRESQL=\
"--postgresql-templatedb=ci_template "\
"--dburi postgresql+psycopg2://scott:tiger@pg18/test "\
"--dburi postgresql+psycopg2://scott:tiger@pg17/test "

export TOX_POSTGRESQL_PY2K=\
"--postgresql-templatedb=ci_template "\
"--dburi postgresql+psycopg2://scott:tiger@pg16/test "


export TOX_ORACLE=\
"--dburi oracle+cx_oracle://scott:tiger@oracle18c/xe "

# the ODBC url needs to be fully qualified so that the
# process runner can create new database URLs
export TOX_MSSQL=\
"--dburi mssql+pyodbc://scott:tiger^5HHH@mssql2022:1433/test?driver=ODBC+Driver+18+for+SQL+Server&trustservercertificate=yes&Encrypt=Optional"
