#!/bin/bash

source /usr/local/jenkins/scripts/python_env.sh
if [ -f /etc/profile.d/oracle_env.sh ] ; then
	source /etc/profile.d/oracle_env.sh
fi

# TODO: template this....

export TOX_MYSQL=\
"--dburi mysql+pymysql://scott:tiger@mariadb106/test?charset=utf8mb4 "\
"--dburi mysql+mysqldb://scott:tiger@mysql57/test?charset=utf8mb4 "

export TOX_POSTGRESQL=\
"--postgresql-templatedb=ci_template "\
"--dburi postgresql+psycopg2://scott:tiger@pg13/test "

export TOX_ORACLE="--dburi oracle+cx_oracle://scott:tiger@oracle18c/xe"

export TOX_MSSQL=\
"--dburi mssql+pyodbc://scott:tiger^5HHH@mssql2017:1433/test?driver=ODBC+Driver+13+for+SQL+Server "

#export TOX_MSSQL="--dburi mssql+pymssql://scott:tiger^5HHH@mssql2017:1433/test"
