#!/bin/bash

set -x


source /usr/local/jenkins/scripts/python_env.sh

if [ -f /etc/profile.d/oracle_env.sh ] ; then
	source /etc/profile.d/oracle_env.sh
fi


# TODO: template this....
# mysqlconnector at the moment seems to have much better support for
# things provided we use the correct package.
# for SQLAlchemy 1.4 we won't need to list separate drivers here.
export TOX_MYSQL=\
"--dburi mysql+mysqldb://scott:tiger@mariadb111/test?charset=utf8mb4 "\
"--dburi mysql+pymysql://scott:tiger@mariadb109/test?charset=utf8mb4 "\
"--dburi mysql+pymysql://scott:tiger@mysql57/test?charset=utf8mb4 "\
"--dburi mysql+mysqldb://scott:tiger@mysql80/test?charset=utf8mb4 "\
"--dburi mysql+pymysql://scott:tiger@mysql80/test?charset=utf8mb4 "

export TOX_MYSQL_PY2K=\
"--dburi mysql+pymysql://scott:tiger@mariadb109/test?charset=utf8mb4 "\
"--dburi mysql+pymysql://scott:tiger@mysql57/test?charset=utf8mb4 "\
"--dburi mysql+pymysql://scott:tiger@mysql80/test?charset=utf8mb4 "



# "--dburi mysql+mysqldb://scott:tiger@mariadb102/test?charset=utf8 "\


# note: for SQLAlchemy 1.4, extra PG drivers like asyncpg are brought in
# using the --dbdriver in tox.ini; the driver here is not
# important
export TOX_POSTGRESQL=\
"--postgresql-templatedb=ci_template "\
"--dburi postgresql+psycopg2://scott:tiger@pg17/test "\
"--dburi postgresql+psycopg2://scott:tiger@pg16/test "\
"--dburi postgresql+psycopg2://scott:tiger@pg15/test "

export TOX_POSTGRESQL_PY2K=\
"--postgresql-templatedb=ci_template "\
"--dburi postgresql+psycopg2://scott:tiger@pg16/test "


export TOX_ORACLE=\
"--dburi oracle+cx_oracle://scott:tiger@oracle18c/xe "

# export TOX_ORACLE=\
# "--dburi oracle+cx_oracle://scott:tiger@oracle1120/xe "\
# "--dburi oracle+cx_oracle://scott:tiger@oracle18c/xe "

# the ODBC url needs to be fully qualified so that the
# process runner can create new database URLs
export TOX_MSSQL=\
"--dburi mssql+pyodbc://scott:tiger^5HHH@mssql2022:1433/test?driver=ODBC+Driver+18+for+SQL+Server&trustservercertificate=yes&Encrypt=Optional"
